.DS_Store
.RData
pcas/
temp_plots/
writing/
*.pdf
.Rhistory
complete-data.csv
distichus-spatial.code-workspace
scripts/templates/
scripts/old
data/
enm/
niche-assessment/
other-anole-species/
K*.csv
slurm*out
